name: CD
on: 
  push: 
    branches: [main]
jobs:
  build: 
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: build image and push to dockerhub
        uses: docker/build-push-action@v1.1.0
        with:
          username: luizholandadocker
          password: ${{secrets.DOCKER_PASSWORD}}
          repository: luizholandadocker/go-argocd
          tags: ${{github.sha}}, latest
  
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: checkout
        uses: actions/checkout@v2
      
      - name: kustomize
        uses: imranismail/setup-kustomize@v1
        with:
          kustomize_version: v3.6.1
      
      - name: update k8s
        run: |
          cd k8s
          kustomize editset image goargocdapp=luizholandadocker/go-argocd:${{github.sha}}
          cat kustomization.yaml

      - name: commit
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "Deploy"
          git commit -am "Changing tag name"
      
      - name: push
        uses: ad-m/github-push-action@master