name: CD
on: 
  push: 
    branches: [mais]
jobs:
  build: 
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: build image and push to dockerhub
        uses: docker/build-push-action@v1.1.0
        with:
          username: luizclaudioholanda
          password: ${{secrets.DOCKER_PASSWORD}}
          repository: luizholandadocker/go-argocd
          tags: ${{github.sha}}, latest